/* Add this CSS to your existing styles or create a new stylesheet */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
}
.label-container_zusage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 14px;    
}
.label-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 14px;
    transition: 0.5s;
}
.wrapper {
    padding: 40px;
}
.day-options {
    display: flex;
    gap: 10px;
    /* Adjust the spacing between day options */
}

label {
    margin-right: 10px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    outline: none;
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: #333;
}
/* Style for radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    /* Adjust the spacing between radio buttons and checkboxes */
}

/* Style for selects */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* Style for the submit button */
button {
    align-self: flex-end;
    padding: 10px 15px;
    background-color: #106100;
    /* Green color, you can change this */
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    /* Darker green color on hover, you can change this */
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

.form-column {
    flex: 1;
    margin-right: 20px;
}

.label-options {
    display: flex;
    flex-direction: column;
}

.backgroundHeadline{
    width: 100%;
    height: 210px;
    background: #106100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: beige;
    padding-top: 50px;
}


.inputbox {
    position: relative;
    width: 30%;
    min-width: 300px;
    margin-top: 30px;
}

.inputbox input[type="submit"] {
    max-width: 100px;
    font-weight: 700;
}

.inputbox input:hover,
.inputbox textarea:hover{
    border: 2px solid #106100;
    transition: 0.8s;
}

.inputbox input:focus{
    border: 2px solid rgba(81, 81, 81, 0.683);
    transition: 0.2s; 
}
.inputbox textarea {
    height: 150px;
    /* resize: vertical; */
    /* overflow-y: auto; */
}
.inputbox input,
.inputbox textarea{
    font-family: inherit;
    font-size: inherit;
    width: 80%;
    background: rgb(252, 252, 252);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    border: 2px solid grey;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}


.inputbox__placeholder {
    letter-spacing: 4px;
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    padding: 15px 20px;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.649);
    transition: 0.5s;
}
.inputbox input:valid~span,
.inputbox input:focus~span,
.inputbox textarea:valid~span,
.inputbox textarea:focus~span{
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    transform: translateX(24px) translateY(-10px); 
    padding: 0 10px;
    font-size: 1em;
    background: white;
    border: 1px solid black;
    transition: 0.5s;
}

.anim {
    transition: 0.5s;
}



.h1Contact {
    transition: 0.5s;
    font-size: 4em;
}

@media screen and (max-width: 1200px) {
    .h1Contact {
        transition: 0.5s;
        font-size: 2em;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: 0.5s;
        /* Adjust the maximum width as needed */
        margin: 0 auto;
    }
    .label-container_zusage {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 10px;
        gap: 14px;    
        transition: 0.5s;
    }
    .label-container {
        transition: 0.5s;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        gap: 14px;
    }
    .wrapper {
        padding: 40px;
    }
    .backgroundHeadline{
        width: 100%;
        height: 200px;
        background: #106100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}











.plus-minus {
    --primary: #1E2235;
    --secondary: #FAFBFF;
    --duration: .5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 240px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 4px solid var(--primary);
    background-size: 300% 300%;
    transition: transform .3s;
    transform: scale(var(--scale, 1)) translateZ(0);
    animation: var(--name, unchecked) var(--duration) ease forwards;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 16px;
        height: var(--height, 16px);
        left: 6px;
        top: var(--top, 6px);
        background: var(--background, var(--primary));
        animation: var(--name-icon-b, var(--name-icon, unchecked-icon)) var(--duration) ease forwards;
    }

    &:before {
        clip-path: polygon(0 6px, 6px 6px, 6px 0, 10px 0, 10px 6px, 16px 6px, 16px 10px, 10px 10px, 10px 16px, 6px 16px, 6px 10px, 0 10px);
    }

    &:after {
        --height: 4px;
        --top: 12px;
        --background: var(--secondary);
        --name-icon-b: var(--name-icon-a, checked-icon);
    }

    &:active {
        --scale: .95;
    }

    /* &:checked {
        --name: checked;
        --name-icon-b: checked-icon;
        --name-icon-a: unchecked-icon;
    } */
}

@keyframes checked-icon {
    from {
        transform: translateZ(12px);
    }

    to {
        transform: translateX(16px) rotateY(90deg) translateZ(12px);
    }
}

@keyframes unchecked-icon {
    from {
        transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
    }

    to {
        transform: translateZ(12px);
    }
}

@keyframes checked {
    from {
        background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
        background-position: 100% 50%;
    }

    to {
        background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
        background-position: 50% 50%;
    }
}

@keyframes unchecked {
    from {
        background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
        background-position: 100% 50%;
    }

    to {
        background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
        background-position: 50% 50%;
    }
}

.Button {
    transform: translate(0px , -60px);
    width: 160px;
    height: 60px;
    border-radius: 10px;
color: #1E2235;
font-size: 1.2em;
    background-color: beige;
}

.Button:hover {
    transform: translate(0px, -60px);
    width: 160px;
    height: 60px;
    border-radius: 10px;
    color: #1E2235;
    font-size: 1.2em;
    background-color: rgb(233, 233, 83);
}

