.HeroSubTitle__container {
    transition: 0.5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    left: 50%;
    flex-direction: column;
    transform: translate(0%, -10%); 
    color: white;
    background: #106100;
    z-index: 3;
}
.HeroSubTitle__Title {
    transition: 0.5s;
    font-size: 64px;
}

.HeroSubTitle__Description{
    transition: 0.5s;
    font-size: 20px;
    padding: 15px;
}

@media (max-width: 800px) {
    .HeroSubTitle__container {
        transition: 0.5s;
        height: 30vh;

    }
    .HeroSubTitle__Title {
        transition: 0.5s;
        font-size: 34px;
    }
    .HeroSubTitle__Description{
        transition: 0.5s;
        font-size: 14px;
        padding: 12px;
    }
 }