*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html,
body,
#root {
    box-sizing: border-box;
    font-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color-scheme: light;
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.App {
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    background: url("../assets/Hero.jpeg") center/cover no-repeat;
    object-fit: cover;
    background-attachment: fixed;
}

@media (max-width: 800px) {
   .App {
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    background: url("../assets/Hero.jpeg") center/cover;
    background-position: -430px;
}
.hero__background {
    background: linear-gradient(0deg,
        rgba(36, 36, 36, 0.817),
        rgba(36, 36, 36, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 550px;
}
}
.hero__title {
    transition: 0.5s;
    position: absolute;
    font-size: 82px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    left: 50%;
    transform: translate(-50%, 20%);
    color: beige;
    z-index: 3;
}
.hero__title__date {
    transition: 0.5s;
    position: absolute;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    left: 50%;
    transform: translate(-50%, 32.5%);
    color: beige;
    z-index: 3;
}
.hero__title__Rückmeldung {
    transition: 0.5s;
    position: absolute;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    left: 50%;
    transform: translate(-50%, 45%);
    color:  #9bd68f;
    z-index: 3;
}
@media (max-width: 1200px) {
    .hero__title{
        transition: 0.5s;
     font-size: 42px;
    }
    .hero__title__date {
        transition: 0.5s;
        font-size: 32px;

    }
    .hero__title__Rückmeldung {
        transition: 0.5s;
        font-size: 28px;
        width: 300px;
        z-index: 3;
    }
 }
.hero__background {
        background: linear-gradient(0deg,
            rgba(36, 36, 36, 0.817),
            rgba(36, 36, 36, 0));
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 550px;
}
 .slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #106100;
    transform-origin: bottom;
    z-index: 30;
} 

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: beige;
    transform-origin: top;
    z-index: 30;
}

.footerImage {
    width: 100%;
    height: 81.6%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .App {
     transition: 0.5s;
     width: 100%;
     height: 100vh;
     background: url("../assets/Hero.jpeg") center/cover;
     background-position: -490px;
     /* object-fit: cover; */
     /* background-attachment: fixed; */
 }
 .hero__background {
     background: linear-gradient(0deg,
         rgba(36, 36, 36, 0.817),
         rgba(36, 36, 36, 0));
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 600px;
 }
 }