.subHeader__container {
    width: 100%;
    height: 25vh;
    padding: 50px;
    transition: 0.3s;
}

.subHeader__container ul{
        margin: 0;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
}
.subHeader__container ul li{
list-style: none;
    position: relative;
    transition: 0.3s;
}
.subHeader__container ul li a{
        text-decoration: none;
        color: beige;
        font-size: 3rem;
        top: 0;
        transition: 1s cubic-bezier(0.16, 1, 0.1, 1);
        color: black;
}

@media screen and (max-width: 2000px) {
.subHeader__container ul li a {
        text-decoration: none;
        color: beige;
        font-size: 2rem;
        top: 0;
        transition: 1s cubic-bezier(0.16, 1, 0.1, 1);
        color: black;
    }
}
@media screen and (max-width: 1200px) {
    .subHeader__container ul {
        transition: 0.3s;
            padding: 1cqh;
        }
    .subHeader__container ul li a {
        text-decoration: none;
        color: beige;
        font-size: 1.7rem;
        top: 0;
        transition: 1s cubic-bezier(0.16, 1, 0.1, 1);
        color: black;
    }
}

@media screen and (max-width: 1000px) {
    .subHeader__container {
        width: 100%;
        height: 15vh;
        padding-top: 40px;
        padding-left: 20px;
        transition: 0.3s;
    }    
    .subHeader__container ul {
            padding: 1px;
            transition: 0.3s;
        }
    .subHeader__container ul li a {
        text-decoration: none;
        color: beige;
        font-size: 1.4rem;
        top: 0;
        transition: 1s cubic-bezier(0.16, 1, 0.1, 1);
        color: black;

    }
}



@media screen and (max-width: 600px) {
    .subHeader__container {
        width: 100%;
        height: 15vh;
        padding-top: 15px;
        padding-left: 20px;
        transition: 0.3s;
    }    
    .subHeader__container ul{
        margin: 0;
        transition: 0.3s;
        padding: 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
}
.subHeader__container ul li{
    transition: 0.3s;
    padding: 3px;

    transition: 0.3s;
}
    .subHeader__container ul li a {
        text-decoration: none;
        color: beige;
        font-size: 1rem;
        top: 0;
        transition: 1s cubic-bezier(0.16, 1, 0.1, 1);
        color: black;
    }
}